# Database Credentials
DB_USERNAME=your_database_username_with_prefix
DB_PASSWORD=your_database_password

# Cloudinary Credentials
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# JWT Secret (optional)
# JWT_SECRET=your_jwt_secret 